body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgb(210, 210, 210);
    display: flex;
    width: 60%;
}

form {
    .form-element {
        :not(:first-child) {
            margin-top: 20px;
        }
    }

    input {
        width: 90%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(156, 156, 185);
        font-size: 18px;
        caret-color: rgb(101, 84, 252);
    }

    :focus {
        outline: none;
    }

    ::placeholder {
        color: rgb(228, 228, 228);
    }
}

.form-container {
    width: 100%;
    height: 500%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #fff;
}

.long-title h3 {
    font-size: 30px;
    text-align: center;
    line-height: 2em;
    color: rgb(72, 39, 39);
}

.update-button {
    background-color: #4d3032;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}